# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build / Cache
.cache/
frontend/.cache/
backend/.cache/

# dist / build
dist/
build/

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Uploads (keep folder, ignore files)
backend/upload/*
!backend/upload/.gitkeep
